@model OrderTakerProject.UI.Models.CustomerViewModel


<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label asp-for="Customer.FirstName" class="form-label">First Name <small class="text-danger">*</small></label>
                    <input asp-for="Customer.FirstName" class="form-control" id="FirstName" />
                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                    <br />
                    <label asp-for="Customer.LastName" class="form-label">Last Name <small class="text-danger">*</small></label>
                    <input asp-for="Customer.LastName" class="form-control" id="LastName" />
                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                    <br />
                    <label asp-for="Customer.MobileNumber" class="form-label">Mobile Number <small class="text-danger">*</small></label>
                    <input asp-for="Customer.MobileNumber" class="form-control" maxlength="10" id="MobileNumber" />
                    <span asp-validation-for="Customer.MobileNumber" class="text-danger"></span>
                    <br />
                    <label asp-for="Customer.City" class="form-label">City <small class="text-danger">*</small></label>
                    <input asp-for="Customer.City" class="form-control" id="City" />
                    <span asp-validation-for="Customer.City" class="text-danger"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return AddCustomer();">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>