@model OrderTakerProject.UI.Models.SKUViewModel


<div class="modal fade" id="updateSkuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update SKU</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="skuId" />
                    <label asp-for="SKU.Name" class="form-label">First Name <small class="text-danger">*</small></label>
                    <input asp-for="SKU.Name" class="form-control" id="Update_Name" />
                    <span asp-validation-for="SKU.Name" class="text-danger"></span>
                    <br />
                    <label asp-for="SKU.Code" class="form-label">Code <small class="text-danger">*</small></label>
                    <input asp-for="SKU.Code" class="form-control" id="Update_Code" />
                    <span asp-validation-for="SKU.Code" class="text-danger"></span>
                    <br />
                    <label asp-for="SKU.UnitPrice" class="form-label">Unit Price <small class="text-danger">*</small></label>
                    <input asp-for="SKU.UnitPrice" class="form-control" id="Update_UnitPrice" />
                    <span asp-validation-for="SKU.UnitPrice" class="text-danger"></span>
                    <br />

                    <img id="Update_ProductImage" />
                    <input asp-for="SKU.SKUImage" class="form-control" type="file" id="Update_ImageSelector" />
                    <span asp-validation-for="SKU.SKUImage" class="text-danger"></span>

                    <textarea style="display:none;" id="Update_SKUImage" readonly placeholder="Base64 encoded image will appear here..."></textarea>

                    <label asp-for="SKU.IsActive" class="form-label"> <small class="text-danger">Is Active? *</small></label>

                    <input asp-for="SKU.IsActive" class="form-check-input" type="checkbox" id="Update_SKUIsActive" />
                    <span asp-validation-for="SKU.IsActive" class="text-danger"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return UpdateSKU();"> Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>