@model OrderTakerProject.UI.Models.OrderViewModel



@{
    
    <h1>Orders Page</h1>
    <div class="container-fluid">
        <div class="row">
            <h3>Order Taking</h3>
            <div class="col-md-6">
                
                <label class="form-label">Customer Name <small class="text-danger">*</small></label>
                <input class="form-control" id="Customer_FullName" />
                <input type="hidden" class="form-control" id="Order_CustomerId" />
                <br />

                <label class="form-label">Delivery Date <small class="text-danger">*</small></label>
                <input class="form-control" id="Order_DeliveryDate" />
                <br />
                <select class="form-select" aria-label="Default select example" id="OrderStatus">
                    <option selected>Select Status</option>
                    <option value="New">New</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
                <br />

                <label class="form-label">Amount Due </label>
                <input class="form-control" id="Order_AmountDue" value="0" />
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="initialSaveButton" class="btn btn-primary" onclick="return AddOrder();">Save Initial Order</button>
                        <div id="messageLayout" style="display:none">
                            <p class="text-success">You have saved your order. You can now add items.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button disabled type="button" id="addPurchaseItem" onclick="openAddPurchaseItemModal()"
                                class="btn btn-primary">
                            Add Item
                        </button>
                        
                    </div>
                    
                </div>

                <div id="itemsLayout">
                </div>


                <div class="row pt-1">
                    <button disabled type="button" id="saveOrder" class="btn btn-primary" onclick="return UpdateOrderAmountDue();">Save Order</button>
                </div>




                
            </div>


        </div>
    </div>
}


<partial name="_AddPurchaseItem.cshtml" />
<partial name="_UpdatePurchaseItem.cshtml" />